table,tr,th{
	border:1px gray dashed;
	border-spacing:0px;
	gap:0px;
}
th{
	min-width:16px;
	min-height:16px;
	width:16px;
	height:16px;
}
.container{
	text-align: center;
}
.toolbar{
	width: 100%;
}
.canvas{
	display:inline-block;
	background-color: #EEEEFF;
	border-radius: 10%;
	padding: 48px;
}
.customColor{
	vertical-align: middle;
	position:relative;
	top:-8px;
}
.loadbutton{
	margin: 0px 2px 0px 2px;
	background-color: #9999FF;
}
.savebutton{
	margin: 0px 2px 0px 2px;
	background-color: #FF9999;
}
.undobutton{
	margin: 0px 2px 0px 2px;
	background-color: #99FF99;
}
.redobutton{
	margin: 0px 2px 0px 2px;
	background-color: #FFFF99;
}
.console{
	font-style: strong;
	margin-left: 4px;
}
.inline{
	display:inline;
}
.small{
	width:36px;
}
.tinylabel{
	font-size: 12px;
}
.dot{
	height: 25px;
	width: 25px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	border:2px black solid;
	margin-left:1px;
}
.tinybutton{
	margin-top:-24px;
	position:relative;
	top: 6px;
	height: 24px;
	width: 24px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	border:2px black solid;
	margin-left:1px;
}